.nav-menu {
  flex: 1 0 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.search {
  width: 65%;
  margin-top: var(--section-start-gap);
  margin-bottom: var(--section-start-gap);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: var(--text-sm);
  background-color: var(--bg-main);
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.1);
  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
}

.nav-list {
  margin-left: 20px;
  list-style: none;
}

.nav-list-item:not(:last-child) {
  margin-bottom: 15px;
}

.nav-link {
  text-decoration: none;
  transition: var(--transition-link);
}

.nav-link:hover {
  color: var(--hover);
}

@media screen and (max-width: 1024px) {
  .search {
    width: 90%;
  }

  .nav-list {
    padding-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}